<!DOCTYPE html>
<html>
  <head>
    <title>Foundation API Demo</title>

    <style media="screen">
      * {
        box-sizing: border-box;
      }

      body {
        font-family: monospace;
        width: 60em;
        margin: 40px auto;
        font-size: 12pt;
      }

      form,
      pre,
      input,
      a,
      textarea {
        color: black;
        font-family: monospace;
        font-size: 12pt;
      }

      input, a {
        border: none;
        background-color: lightgrey;
        padding: 2px 5px;
        cursor: pointer;
        margin: 0;
        text-decoration: none;
      }

      textarea {
        width: 100%;
        resize: vertical;
        height: 18em;
        border-color: lightgrey;
      }

      form {
        margin-bottom: 2em;
      }

      .request,
      .response {
        width: 46%;
        margin: 0 2%;
        float: left;
      }

      .patch-form textarea {
        height: 9em;
      }

      .get-endpoints {
        margin-bottom: 2em;
      }

      .get-endpoints a {
        display: inline-block;
      }

      .response {
        display: none;
        border: 1px solid blue;
        color: blue;
        padding: 5px;
        overflow: scroll;
      }

      .response.error {
        border-color: red;
        color: red;
      }

    </style>

    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript">
      var writeResponse = function(data, status) {
        $('.response').show()
              .text("Response (" + status + "):\n" + JSON.stringify(data, null, 2))
              .toggleClass('error', status.toString()[0] !== '2');
      };

      var writeSuccess = function(data, _, xhr) {
        writeResponse(data, xhr['status'])
      };

      var writeError = function(data) {
        writeResponse(data['responseJSON'], data['status']);
      };

      $(function() {
        $('.api-test-form').on('submit', function(e) {
          e.preventDefault();

          var $form = $(this);

          var json = JSON.parse($form.find('.json').val());
          var jqxhr = $.ajax({
            method: $form.attr('method'),
            url: $form.attr('action'),
            data: json
          });

          jqxhr.done(writeSuccess);
          jqxhr.error(writeError);
        });

        $('a[data-endpoint]').on('click', function(e) {
          e.preventDefault();

          var jqxhr = $.getJSON($(this).data('endpoint'));

          jqxhr.done(writeSuccess);
          jqxhr.error(writeError);
        });
      });
    </script>

  </head>
  <body>
    <div class="request">
      <div class="get-endpoints">
        <a href="#" data-endpoint="/api/v1/units">GET /api/v1/units</a>
      </div>

      <form class="api-test-form post-form" action="/api/v1/interest" method="post">
        <textarea name="json" class="json" rows="8" cols="40"><%= JSON.pretty_generate(@post).strip %></textarea>
        <input type="submit" name="submit" value="POST /api/v1/interest">
      </form>

      <form class="api-test-form patch-form" action="/api/v1/interest" method="patch">
        <textarea name="json" class="json" rows="8" cols="40"><%= JSON.pretty_generate(@patch).strip %></textarea>
        <input type="submit" name="submit" value="PATCH /api/v1/interest">
      </form>
    </div>

    <pre class="response"></pre>

    <a href="/api/docs" style="position: absolute; top: 10px; right: 10px;">docs</a>

  </body>
</html>
